node_modules
**/node_modules
# Copied verbatim from Playwright
ui-tests/scripts/vendor
**/lib
**/package.json
!/package.json
jupyterlite_pdf_exporter
venv
.venv
env
.env
**/venv
**/.venv
**/env
**/.env
